<div class="row" id="error" {{#unless message}}style="display: none;"{{/unless}}>
    <div class="col-md-12">
        <div class="alert alert-danger">
            {{message}}
        </div>
    </div>
</div>
