.godeps
./build
.cover/
apps/nsqlookupd/nsqlookupd
apps/nsqd/nsqd
apps/nsqadmin/nsqadmin
bench/bench_reader/bench_reader
bench/bench_writer/bench_writer
bench/bench_channels/bench_channels
apps/nsq_to_nsq/nsq_to_nsq
apps/nsq_to_file/nsq_to_file
apps/nsq_pubsub/nsq_pubsub
apps/nsq_to_http/nsq_to_http
apps/nsq_tail/nsq_tail
apps/nsq_stat/nsq_stat
apps/to_nsq/to_nsq
nsqadmin/static/build
dist
_site
_posts
*.dat

# Go.gitignore

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe

profile

# vim stuff
*.sw[op]
