<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>{{.Title}}</title>
        <!-- from http://www.bootstrapcdn.com/ -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap-combined.min.css" type="text/css" charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style type="text/css">
        .red {
            color: #c30;
        }
        .red:hover {
            color: #f30;
        }
        .bold {
            font-weight: bold;
        }
        </style>
    </head>
    <body>
        
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">NSQ</a>
        <ul class="nav">
          <li><a href="/">Streams</a></li>
          <li><a href="/nodes">Nodes</a></li>
          <li><a href="/counter">Counter</a></li>
          <li><a href="/lookup">Lookup</a></li>
          <li class="divider-vertical"></li>
          {{template "graph_options.html" .}}
          <li class="divider-vertical"></li>
          <li><a href="https://github.com/bitly/nsq">NSQ on github</a></li>
        </ul>
        <div class="pull-right navbar-text"><span class="label label-info">v{{.Version}}</span></div>
    </div>
  </div>
</div>

<div class="container-fluid">
