<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <title>NSQ</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css" type="text/css" charset="utf-8">
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.1/css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="http://d3js.org/d3.v2.js" charset="utf-8"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/js/bootstrap.min.js" charset="utf-8"></script>
        
    </head>
    <body>
        
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">NSQ</a>
        <ul class="nav">
          <li class="active"><a href="/">Topology</a></li>
          <!-- <li><a href="#">Metrics</a></li> -->
          <li class="divider-vertical"></li>
          <li><a href="https://github.com/bitly/nsq">NSQ on github</a></li>
        </ul>
        <div class="pull-right navbar-text"><span class="label label-info">v{{.Version}}</span></div>
    </div>
  </div>
</div>

<div class="container-fluid">
