{{template "header.html" .}}
{{$g := .GraphOptions}}

<div class="row-fluid"><div class="span12">
<h1>Topics</h1>
</div></div>


<div class="row-fluid"><div class="span8">
{{if .Topics}}
<table class="table table-condensed table-bordered">
    <tr>
        {{if $g.Enabled}}<th width="120">Depth</th>{{end}}
        {{if $g.Enabled}}<th width="120">Messages</th>{{end}}
        <th>Topic</th>
    </tr>
{{range .Topics}}
    <tr>
        {{if $g.Enabled}}<td><a href="/topic/{{.TopicName}}"><img width="120" height="20" src="{{.Sparkline $g "depth"}}"></a></td>{{end}}
        {{if $g.Enabled}}<td><a href="/topic/{{.TopicName}}"><img width="120" height="20" src="{{.Sparkline $g "message_count"}}"></a></td>{{end}}
        <td><a href="/topic/{{.TopicName}}">{{.TopicName}}</a></td>
    </tr>
{{end}}
</table>
{{else}}
    <p><span class="label label-warning">Warning</span> No Topics Found</p>
{{ end }}

</div></div>

{{template "footer.html" .}}
