{{template "header.html" .}}
{{$g := .GraphOptions}}
{{$gts := .GlobalTopicStats}}

<ul class="breadcrumb">
  <li><a href="/">Streams</a> <span class="divider">/</span></li>
  <li class="active">{{.Topic}}</li>
</ul>

<div class="row-fluid">
    <div class="span6">
        <blockquote>
            <p>Topic: <strong>{{.Topic}}</strong>
        </blockquote>
    </div>
</div>

<div class="row-fluid">
    <div class="span2">
        <form action="/empty_topic" method="POST">
            <input type="hidden" name="topic" value="{{.Topic}}">
            <button class="btn btn-medium btn-warning" type="submit">Empty Queue</button>
        </form>
    </div>
    <div class="span2">
        <form action="/delete_topic" method="POST">
            <input type="hidden" name="topic" value="{{.Topic}}">
            <button class="btn btn-medium btn-danger" type="submit">Delete Topic</button>
        </form>
    </div>
</div>

<div class="row-fluid">
{{if not .TopicStats}}
<div class="span6">
<h4>Topic Message Queue</h4>
<div class="alert">
    <h4>Notice</h4> No producers exist for this topic.
    <p>See <a href="/lookup">Lookup</a> for more information.
</div>
{{else}}
<div class="span8">
<h4>Topic Message Queue</h4>
<table class="table table-bordered table-condensed">
    <tr>
        <th>NSQd Host</th>
        <th>Depth</th>
        <th>Memory + Disk</th>
        <th>Messages</th>
        {{if $g.Enabled}}<th>Rate</th>{{end}}
        <th>Channels</th>
    </tr>
    {{range $t := .TopicStats}}
    <tr>
        <td>
            <form class="form-inline" style="margin:0" action="/tombstone_topic_producer" method="POST">
                <input type="hidden" name="rd" value="/topic/{{.TopicName}}">
                <input type="hidden" name="topic" value="{{.TopicName}}">
                <input type="hidden" name="node" value="{{.HostAddress}}">
                <button class="btn btn-mini btn-link red" type="submit">✘</button> <a href="/node/{{.HostAddress}}">{{.HostAddress}}</a>
            </form>
        </td>
        <td>
            {{if $g.Enabled}}<a href="{{$g.LargeGraph $t "depth"}}"><img width="120" src="{{$g.Sparkline $t "depth"}}"></a>{{end}}
            {{.Depth | commafy}}</td>
        <td>{{.MemoryDepth | commafy}} + {{.BackendDepth | commafy}}</td>
        <td>
            {{if $g.Enabled}}<a href="{{$g.LargeGraph $t "message_count"}}"><img width="120" src="{{$g.Sparkline $t "message_count"}}"></a>{{end}}
            {{.MessageCount | commafy}}
            </td>
            {{if $g.Enabled}}<td class="bold rate" target="{{$g.Rate $t}}"></td> {{end}}
        <td>{{.ChannelCount}}</td>
    </tr>
    {{end}}
    <tr class="info">
        <td>Total:</td>
        <td>
            {{if $g.Enabled}}<a href="{{$g.LargeGraph $gts "depth"}}"><img width="120" height="20" src="{{$g.Sparkline $gts "depth"}}"></a>{{end}}
            {{$gts.Depth | commafy}}
        </td>
        <td>{{$gts.MemoryDepth | commafy}} + {{$gts.BackendDepth | commafy}}</td>
        <td>
            {{if $g.Enabled}}<a href="{{$g.LargeGraph $gts "message_count"}}"><img width="120" height="20" src="{{$g.Sparkline $gts "message_count"}}"></a>{{end}}
            {{$gts.MessageCount | commafy}}
        </td>
        {{if $g.Enabled}}<td class="bold rate" target="{{$g.Rate $gts}}"></td> {{end}}
        <td>{{$gts.ChannelCount}}</td>
    </tr>
</table>
{{end}}
</div></div>

<div class="row-fluid">
{{ if not .ChannelStats }}
<div class="span6">
<h4>Channel Message Queues</h4>
<div class="alert">
    <h4>Notice</h4> No channels exist for this topic.
    <p>Messages will queue at the topic until a channel is created.
</div>
{{else}}
<div class="span12">
<h4>Channel Message Queues</h4>
<table class="table table-bordered table-condensed">
    <tr>
        <th>Channel</th>
        <th>Depth</th>
        <th>Memory + Disk</th>
        <th>In-Flight</th>
        <th>Deferred</th>
        <th>Requeued</th>
        <th>Timed Out</th>
        <th>Messages</th>
        {{if $g.Enabled}}<th>Rate</th>{{end}}
        <th>Connections</th>
    </tr>

{{range $c := .ChannelStats}}
    <tr >
        <th><a href="/topic/{{$c.TopicName}}/{{$c.ChannelName | urlquery}}">{{$c.ChannelName}}</a> 
            {{if $c.Paused}}<span class="label label-important">paused</span>{{end}}
            </th>
        <td>
            {{if $g.Enabled}}<a href="{{$g.LargeGraph $c "depth"}}"><img width="120" height="20" src="{{$g.Sparkline $c "depth"}}"></a>{{end}}
            {{$c.Depth | commafy}}</td>
        <td>{{$c.MemoryDepth | commafy}} + {{$c.BackendDepth | commafy}}</td>
        <td>{{$c.InFlightCount | commafy}}</td>
        <td>{{$c.DeferredCount | commafy}}</td>
        <td>{{$c.RequeueCount | commafy}}</td>
        <td>{{$c.TimeoutCount | commafy}}</td>
        <td>{{$c.MessageCount | commafy}}</td>
        {{if $g.Enabled}}<td class="bold rate" target="{{$g.Rate $c}}"></td> {{end}}
        <td>
            {{if $g.Enabled}}<a href="{{$g.LargeGraph $c "clients"}}"><img width="120" height="20" src="{{$g.Sparkline $c "clients"}}"></a>{{end}}
            {{$c.ClientCount}}</td>
    </tr>
{{end}}
</table>
{{end}}
</div></div>

{{template "js.html" .}}
{{template "footer.html" .}}
