{{template "header.html" .}}
{{$g := .GraphiteUrl}}
{{$gp := .GraphiteKeyPrefix}}
{{$topic := .Topic}}

<ul class="breadcrumb">
  <li><a href="/">Streams</a> <span class="divider">/</span></li>
  <li class="active">{{.Topic}}</li>
</ul>

<div class="row-fluid"><div class="span12">
<h1>Topic: {{.Topic}}</h1>
</div></div>

<div class="row-fluid"><div class="span2">
    <form action="/delete_topic" method="GET">
        <input type="hidden" name="topic" value="{{.Topic}}">
        <button class="btn btn-medium btn-danger" type="submit">Delete Topic</button>
    </form>
</div></div>

<div class="row-fluid"><div class="span8">
<h3>Topic Message Queue</h3>
<table class="table table-bordered table-condensed">
    <tr>
        <th>nsqd Host</th>
        <th>Depth</th>
        <th>Memory + Disk</th>
        <th>Messages</th>
        <th>Channels</th>
    </tr>
    {{range .TopicHostStats }}
    <tr>
        <td>{{.HostAddress}}</td>
        <td>
            {{if $g}}<img src="{{$g}}/render?from=-120min&height=20&until=-1min&width=120&hideGrid=true&hideLegend=true&hideAxes=true&bgcolor=ff000000&fgcolor=black&margin=0&colorList=blue&drawNullAsZero=true&target={{$gp}}nsq.{{.HostAddress | graphiteHostKey}}.topic.{{$topic}}.depth">{{end}}
            {{.Depth | commafy}}</td>
        <td>{{.MemoryDepth | commafy}} + {{.BackendDepth | commafy}}</td>
        <td>
            {{if $g}}<img src="{{$g}}/render?from=-120min&height=20&until=-1min&width=120&hideGrid=true&hideLegend=true&hideAxes=true&bgcolor=ff000000&fgcolor=black&margin=0&colorList=blue&drawNullAsZero=true&target={{$gp}}nsq.{{.HostAddress | graphiteHostKey}}.topic.{{$topic}}.message_count">{{end}}
            {{.MessageCount | commafy}}
            </td>
        <td>{{.ChannelCount}}</td>
    </tr>
    {{ end }}
    {{ with .GlobalTopicStats }} 
    <tr class="info">
        <td>Total:</td>
        <td>
            {{if $g}}<img src="{{$g}}/render?from=-120min&height=20&until=-1min&width=120&hideGrid=true&hideLegend=true&hideAxes=true&bgcolor=ff000000&fgcolor=black&margin=0&colorList=blue&drawNullAsZero=true&target=sumSeries({{$gp}}nsq.*.topic.{{$topic}}.depth)">{{end}}
            {{.Depth | commafy}}
        </td>
        <td>{{.MemoryDepth | commafy}} + {{.BackendDepth | commafy}}</td>
        <td>
            {{if $g}}<img src="{{$g}}/render?from=-120min&height=20&until=-1min&width=120&hideGrid=true&hideLegend=true&hideAxes=true&bgcolor=ff000000&fgcolor=black&margin=0&colorList=blue&drawNullAsZero=true&target=sumSeries({{$gp}}nsq.*.topic.{{$topic}}.message_count)">{{end}}
            {{.MessageCount | commafy}}
        </td>
        <td>{{.ChannelCount}}</td>
    </tr>
    {{ end }}
</table>
</div></div>

<div class="row-fluid"><div class="span12">
<h3>Channel Message Queues</h3>
{{ if not .ChannelStats }}
    <p><span class="label label-warning">Warning</span> no channels have been created. Messages will queue at the topic
        message queue until a client connects.</p>
{{else}}
<table class="table table-bordered table-condensed">
    <tr>
        <th>Channel</th>
        <th>Depth</th>
        <th>Memory + Disk</th>
        <th>In-Flight</th>
        <th>Deferred</th>
        <th>Requeued</th>
        <th>Timed Out</th>
        <th>Messages</th>
        <th>Connections</th>
    </tr>

{{range $c := .ChannelStats}}
    <tr >
        <th><a href="/topic/{{$c.Topic}}/{{$c.ChannelName | urlquery}}">{{$c.ChannelName}}</a> 
            {{if $c.Paused}}<span class="label label-important">paused</span>{{end}}
            </th>
        <td>
            {{if $g}}<img src="{{$g}}/render?from=-120min&height=20&until=-1min&width=120&hideGrid=true&hideLegend=true&hideAxes=true&bgcolor=ff000000&fgcolor=black&margin=0&colorList=blue&drawNullAsZero=true&target=sumSeries({{$gp}}nsq.*.topic.{{$topic}}.channel.{{$c.ChannelName}}.depth)">{{end}}
            {{$c.Depth | commafy}}</td>
        <td>{{$c.MemoryDepth | commafy}} + {{$c.BackendDepth | commafy}}</td>
        <td>{{$c.InFlightCount | commafy}}</td>
        <td>{{$c.DeferredCount | commafy}}</td>
        <td>{{$c.RequeueCount | commafy}}</td>
        <td>{{$c.TimeoutCount | commafy}}</td>
        <td>{{$c.MessageCount | commafy}}</td>
        <td>
            {{if $g}}<img src="{{$g}}/render?from=-120min&height=20&until=-1min&width=120&hideGrid=true&hideLegend=true&hideAxes=true&bgcolor=ff000000&fgcolor=black&margin=0&colorList=blue&drawNullAsZero=true&target=sumSeries({{$gp}}nsq.*.topic.{{$topic}}.channel.{{$c.ChannelName}}.clients)">{{end}}
            {{$c.ClientCount}}</td>
    </tr>
{{ end }}
</table>
{{end}}
</div></div>

{{template "footer.html" .}}


