<div class="well well-small navigation">
  <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/static/img/nsq.png" /></a>
  <p class="muted version">{{ site.version }}</p>
  <ul class="nav nav-list">
    {% for category in site.categories %} 
      <li class="nav-header">{{ category[0] }}</li>
      {% for post in category[1] %} 
        <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></li> 
      {% endfor %}
    {% endfor %}
    <li><a href="https://github.com/bitly/nsq">GitHub Repo</a></li>
    <li><a href="https://github.com/bitly/nsq/issues">Issues</a></li>
    <li><a href="http://groups.google.com/group/nsq-users">Google Group</a></li>
  </ul>
</div>
