name: tests

on:
  push:         {branches: [master]}
  pull_request: {branches: [master]}

jobs:
  test:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        imgtag:
          - "golang:1.17-bullseye"
          - "golang:1.18-bullseye"
          - "golang:1.19-bullseye"
        goarch:
          - "amd64"
          - "386"

    container: "${{matrix.imgtag}}"
    env:
      GOPATH: "${{github.workspace}}/go"
      GOARCH: "${{matrix.goarch}}"
      SRCDIR: "go/src/github.com/nsqio/nsq"

    steps:
      - uses: actions/checkout@v2
        with:
          path: ${{env.SRCDIR}}

      - name: build
        run: |
          cd $SRCDIR
          make all

      - name: test
        run: |
          cd $SRCDIR
          ./test.sh

  send-coverage:
    runs-on: ubuntu-20.04
    timeout-minutes: 30
    container: "golang:1.19-bullseye"
    env:
      GOPATH: "${{github.workspace}}/go"
      SRCDIR: "go/src/github.com/nsqio/nsq"

    steps:
      - uses: actions/checkout@v2
        with:
          path: ${{env.SRCDIR}}

      - name: Install goveralls
        run: go install github.com/mattn/goveralls@latest

      - name: Send coverage
        env:
          COVERALLS_TOKEN: ${{secrets.GITHUB_TOKEN}}
        run: |
          cd $SRCDIR
          ./coverage.sh --coveralls
