{
  "env": {
    "browser": true
  },
  // Rule docs: http://eslint.org/docs/rules/
  "rules": {
    "block-scoped-var": [1],
    "brace-style": [1, "1tbs", {"allowSingleLine": true}],
    "camelcase": [1],
    "comma-spacing": [1],
    "comma-style": [1],
    "computed-property-spacing": [1, "never"],
    "consistent-return": [1],
    "consistent-this": [1, "self"],
    "curly": [2],
    "dot-notation": [0],
    "eol-last": [1],
    "eqeqeq": [1],
    "indent": [1, 4],
    "key-spacing": [1],
    "max-len": [1, 100],
    "max-nested-callbacks": [2, 3], // ????
    "new-cap": [1],
    "new-parens": [1],
    "no-caller": [2],
    "no-console": [0],
    "no-eval": [2],
    "no-extend-native": [2],
    "no-extra-bind": [1],
    "no-floating-decimal": [1],
    "no-iterator": [1],
    "no-lone-blocks": [1],
    "no-lonely-if": [1],
    "no-mixed-requires": [0],
    "no-mixed-spaces-and-tabs": [1],
    "no-multi-spaces": [1],
    "no-multi-str": [1],
    "no-multiple-empty-lines": [2, {"max": 2}],
    "no-native-reassign": [1],
    "no-new": [0],
    "no-redeclare": [1],
    "no-shadow": [1],
    "no-spaced-func": [1],
    "no-throw-literal": [1],
    "no-trailing-spaces": [1],
    "no-undef": [1],
    "no-underscore-dangle": [0],
    "no-unneeded-ternary": [1],
    "no-unused-vars": [1],
    "no-use-before-define": [1, "nofunc"],
    "no-with": [2],
    "one-var": [1, "never"],
    "quotes": [1, "single"],
    "radix": [1],
    "semi": [1, "always"],
    "semi-spacing": [1],
    "space-after-function-name": [1, "never"],
    "space-after-keywords": [1, "always"],
    "space-before-blocks": [1, "always"],
    "space-before-function-paren": [1, "never"],
    "space-in-parens": [1, "never"],
    "space-infix-ops": [1],
    "space-return-throw-case": [1],
    "space-unary-ops": [1],
    "strict": [0],
    "wrap-iife": [1]
  },
  "globals": {
    "module": true,
    "require": true
  }
}
